<div class="git-tools">
    {% if site.github.repository_url %}
        {% if site.disable_edit != true %}
            <span class="tools-element">
                <a target="_blank" href="{{ site.github.repository_url }}/new/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts?filename=">Add new</a>
            </span>
            <span class="tools-element">
                <a target="_blank" href="{{ site.github.repository_url }}/edit/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}">Edit</a>
            </span>
        {% endif %}
        
        <span class="tools-element">
            <a target="_blank" href="{{ site.github.repository_url }}/commits/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}">History</a>
        </span>
        <span class="tools-element">
            <a target="_blank" href="{{ site.github.repository_url }}/blob/{{ site.git_branch | escape }}{{ site.site_root | default: '/' }}_posts/{{ page.path | remove: '_posts/' | escape }}">Source</a>
        </span>
    {% endif %}
</div>
