<header class="header-flex">
   
    <nav class="header-link">
        <ul>
            <li><a href="{{ site.github_link }}"><i class="fab fa-github"></i> Github</a></li>
            <li><a href="{{ site.facebook }}"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="{{ site.twitter }}"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="{{ site.discord }}"><i class="fab fa-discord"></i> Discord</a></li>
        </ul>
    </nav>
    <div class="header-search-bar">
        {% include search.html %}
    </div>
</header>