<header class="header-flex">
    <nav class="header-nav">
        <ul>
            <li><a href="#rendered-content" id="view-rendered-link">Read</a></li>
            <li><a href="#markdown-source" id="view-markdown-link">Source</a></li>
            <li><a href="{{ '/help.html' | relative_url }}">Help</a></li>
            <li><a href="{{ '/text-editor.html' | relative_url }}">Text Editor</a></li>
        </ul>
    </nav>
    <nav class="header-link">
        <ul>
            <li><a href="{{ site.github_link }}">Github</a></li>
            <li><a href="{{ site.facebook }}">Facebook</a></li>
            <li><a href="{{ site.twitter }}">Twitter</a></li>
            <li><a href="{{ site.discord }}">Discord</a></li>
        </ul>
    </nav>
    <div class="header-search-bar">
        {% include search.html %}
    </div>
</header>